@charset "utf-8";

.textstyle{
  font-family: "lato";
}
.raleway{
  font-family: "Raleway";
}
a{
  text-decoration: none;
}
.hover{
  transition-delay: 0.3s;
}
.header{
  background: #fff;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.header-inner{
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}
.bolt{
  font-size: 40px;
  color: #4e4e4e;
}
.contact-btn{
  background: #74cfae;
  color: #fff;
  font-size: 12px;
  padding: 14px 12px;
}
.contact-btn:hover{
  color: #333;
}
.drawer{
  display: none;
}
.inner{
  margin: 0 auto;
  width: 1100px;
}
.main{
  background: #f2f2f2;
  text-align: center;
  width: 100%;
}
.theme{
  padding: 250px 0;
}
.theme-text{
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
}
.theme-text-free{
  color: #c0c0c0;
  font-size: 30px;
  margin-top: 20px;
}
.iphone{
  background: #74cfae;
  width: 100%;
}
.iphone-inner{
  display: table;
  table-layout: fixed;
  padding-top: 50px;
}
.img-iphone{
  display: table-cell;
  margin: 0 auto;
}
.iphone-side{
  color: #fff;
  display: table-cell;
  line-height: initial;
  vertical-align: top;
  width: 60%;
}
.iphone-text{
  font-size: 24px;
}
.paragraph{
  font-size: 20px;
  margin-top: 35px; 
}
.latest-work{
  background: #f2f2f2;
  padding: 60px 0 70px 0;
}
.work-text{
  color: #4e4e4e;
  font-size: 24px;
}
.img-box{
  margin: 0 auto;
  font-size: 0;
}
.img-item{
  display: inline-block;
  opacity: 0.7;
  margin: 80px 0 0 100px;
}
.img-item:nth-child(-n+3){
  margin-top: 40px;
}
.img-item:nth-child(3n-2){
  margin-left: 0;
}
.img-item:hover{
  opacity: 1;
}
.latest-work__bottom{
  margin-top: 90px;
}
.latest-work__bottom__text{
  color: #4e4e4e;
  display: inline-block;
  font-size: 16px;
  width: 42%;
}
.e-mail{
  background: #74cfae;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  margin-left: 90px;
  padding: 14px 20px;
  vertical-align: top;
}
.e-mail:hover{
  color: #333;
}
.skill{
  display: flex;
  flex-direction: column;
  background: #4e4e4e;
  padding: 70px 0 100px 0;
  text-align: center;
  width: 100%;
}
.skill-text{
  color: #fff;
  font-size: 24px;
}
.skill-box{
  display: flex;
  justify-content: center;
  color: #fff;
}
.skill-box__item{
  margin-left: 180px;
}
.skill-box__item:first-child{
  margin-left: 0;
}
.img-text{
  font-size: 16px;
  padding: 15px;
}
.sns{
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  padding: 200px 0;
}
.sns__link{
  color: #74cfae;
  font-size: 50px;
  padding: 25px 80px;
  text-align: center;
}
.sns__link:hover{
  background: #fff;
}
.footer{
  background: #74cfae;
  padding: 20px 0 25px 0;
  width: 100%;
}
.footer-text{
  text-align: right;
  color: #fff;
}
/*_________________________________________*/
@media (max-width: 1199px){
  .inner{
    width: 97%;
  }
  .iphone-inner{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .img-iphone{
    margin: 0 auto;
  }
  .iphone-side{
    margin: 0 auto;
    width: 100%;
  }
  .iphone-text{
    margin-top: 20px;
  }
  .paragraph{
    margin: 35px 0 25px 0; 
  }
  .img-box{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .img-item{
    opacity: 0.7;
    margin:0 auto;
  }
  .img-item:nth-child(3n-2){
    margin: 0 auto;
  }  
  .img-item:nth-child(4){
    margin-top: 80px;
  }
  .latest-work__bottom{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .latest-work__bottom__text{
    width: 800px;
  }
  .e-mail{
    margin: 40px 0 70px 0;
  }
  .skill-box{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .skill-box__item{
    margin: 88px 0 0 0;
  }
  .skill-box__item:first-child{
    margin-top: 0;
  }
}
@media (max-width: 767px){
  .drawer{
    display: flex;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  .drawer:hover{
  }
  .contact-btn{
    display: none;
  }
  .theme{
    padding: 160px 0 130px 0;
  }
  .theme-text{
    color: #74cfae;
    font-family: "lato";
    font-size: 80px;
    font-weight: 700;
  }
  .theme-text-free{
    color: #c0c0c0;
    font-family: "Raleway";
    font-size: 30px;
    margin-top: 20px;
  }
  .iphone{
    background: #74cfae;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .iphone-main{
    margin-top: 50px;
  }
  .iphone-side{
    color: #fff;
    text-align: center;
  }
  .iphone-text{
    font-family: "Raleway";
    font-size: 24px;
  }
  .paragraph{
    font-family: "lato";
    font-size: 20px;
    margin-top: 35px; 
  }
  .sns{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
  }
  .sns__link{
    margin: 0 15px;
  }
}